.header {

    display:flex;
    background-color: #1F2937;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    margin-top:0px;
    flex-wrap: wrap;
}

.left {

    margin:48px;
    margin-top:5px;
    margin-bottom:5px;
}
.right {

    display: flex;
    margin:48px;
    margin-top:5px;
    margin-bottom: 5px;
    gap: 10px; 
}


.section1 {

    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.column1 {

    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 48px;
    margin-right:48px;
    justify-content: center;
    flex: 1;

}

h1 { 
    
    margin-top: 0px;

}

.title {

    display: flex;
    flex:1;
    font-size: 25px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
}

.text {

    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    margin:16px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;

}

.button {

    display:flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
}

button {

    background-color: #e9cdd0;
    border-color: #e9cdd0;
    color: black;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px 50px;

}


.column2 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1,1,0;
    flex-wrap: wrap;
    overflow: hidden;

}

.img{

    display:flex;
    margin:15px;
    margin-right: 48px;
    margin-left: 48px;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    border-radius: 15px;
    orientation: landscape;
    width: 400px;
    height: 400px;
    object-fit: cover;
    flex-wrap: wrap;
}


.section2 {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

.title2 {

    display:flex;
    margin-bottom: 65px;

}
.images {

    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

}

.ill {

    display: flex;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;

}

.smalltext {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

.section3 {

    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    
}

.quote {

    display: flex;
    font-style: italic; color: #1f2937; font-size: 36px; font-weight: 100;
    padding-top: 175px;
    padding-bottom: 175px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 48px;

}