.header {
    
    display:flex;
    background-color: #1F2937;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
}

.left {

    margin:48px;
    margin-top:5px;
    margin-bottom:5px;
}
.right {

    display: flex;
    margin:48px;
    margin-top:5px;
    margin-bottom: 5px;
    gap: 10px; 
}


.section1 {

    display: flex;
}
.column1 {

    display: flex;
    flex-direction: column;
}